@font-face {
	font-family: "Cascadia Code";
	src: url("../fonts/CascadiaCode-Light.otf");
}

@font-face {
    font-family: "Gilroy Medium";
    src: url("../fonts/Gilroy-Medium.otf");
}


:root, html[data-theme='light'] {
    --LightOn: flex;
    --LightOff: none;
    --bgimg: none;
    --bg: #F0F0F4;
    --container: #F9F9FB;
    --shadow: #aaaaaa;
    --link: #ed6cae;
    --hover: #f2b6e5;
    --button: #f2b6e5;
}

html[data-theme='dark'] {
    --LightOn: none;
    --LightOff: flex;
    --bgimg: url('../background/pixelart.png');
    --bg: #141414;
    --container: #1a191c;
    --shadow: #141414;
    --link: #ffffff;
    --hover: #ddb6f2;
    --button: #ddb6f2;

}

html.theme-transition,
html.theme-transition *,
html.theme-transition *:before,
html.theme-transition *:after {
  transition: 0s !important;
  transition-delay: 0 !important;
}

/*-----------------------------------------------------------*/
body {
    background-image: var(--bgimg);
    background-color: var(--bg);
	background-size: cover;
}

.everything {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.link {
	display: inline-block;
	margin: 1%;
	height: 185px;
	width: 140px;
	text-align: left;
	padding-left: 3%;
	background-color: var(--container);
    opacity: 98%;
	border-radius: 8px;
	box-shadow: 2px 2px 8px var(--shadow);
}

.box {
	width: 750px;
    padding-top: 250px;
}

@media only screen and (max-width: 785px) {
  .box {
    height: auto;
  }
  #clock {
    margin-top: 1em;
  }
 
 input {  
 width: 75%
 }
 
  .box {
    flex-direction: column;
    width: 60%;
  }
  .box {
    width: auto;
    margin: 1em 0em;
  }
}

ul {
	padding-inline-start: 0;
	list-style: none;
}

a {
	display: block;
	line-height: 2.5em;
	font-family: "Gilroy Medium";
	color: var(--link);
	font-size: 0.9rem;
	text-decoration: none;
	outline: none;
	transition: .2s;
}

a:hover {
	color: var(--hover);
}

button#theme-toggle {
    outline: 0px solid var(--link);
    border: 0;
    background: transparent;
    cursor: pointer;
}

button#theme-toggle svg {
    width: 24px;
    height: 24px;
    padding-top: 210px;
    color: var(--button);
}

.light-on{
    display: var(--LightOn);
}

.light-off{
    display: var(--LightOff); 
}